<body>
    
    <div class="parent">
    <h1><p class="shadowed-text">༻𝘼𝙡𝙡𝙮𝙨𝙝𝙤𝙥𝙥𝙚'𝙨 𝘿𝙖𝙨𝙝𝙗𝙤𝙖𝙧𝙙༺</p></h1>
   </div>

   <div class="chart-container">
    <div class="bar-label"><b>Clothing</b></div>
    <div class="bar" style="width: 80%;"></div>
    <div class="bar-label"><b>Crafts</b></div>
    <div class="bar" style="width: 60%;"></div>
</div>

<h2>
  
</h2>

<div class="container">
    <div class="cards">
        <h2>𝐃𝐫𝐞𝐬𝐬 (𝐨𝐧𝐡𝐚𝐧𝐝)</h2>
        <p></p>
        <img src="../../../assets/ezgif-4-a9b8680286.gif" class="profile_image" alt="">

    </div>

    <div class="two">
        <h2>𝐂𝐫𝐚𝐟𝐭𝐬 (𝐌𝐓𝐎)</h2>
        <p></p>
        <img src="../../../assets/gifflower.gif" class="profile_image" alt="">

    </div>

    <div class="three">
        <h2>𝐓𝐨𝐩𝐬 (𝐨𝐧𝐡𝐚𝐧𝐝)</h2>
        <p></p>
        <img src="../../../assets/giftop.gif" class="profile_image" alt="">
    </div>

    <div class="card">
        <h2>𝐅𝐞𝐞𝐝𝐛𝐚𝐜𝐤𝐬</h2>
        <p></p>
        <img src="../../../assets/giffeedbacks.gif" class="profile_images" alt="">
    </div>
    
</div>

<table class="sample-table">
  <thead>
      <tr>
          <th>Ranking</th>
          <th>Buyer/s</th>
          <th>Membership</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>1st</td>
          <td>Aya</td>
          <td>Platinum</td>
      </tr>
      <tr>
          <td>2nd</td>
          <td>Yin</td>
          <td>Gold</td>
      </tr>
  </tbody>
</table>
  
<footer>
    &copy; Allyshoppe
</footer>
  <div></div>

</body>