<body>

<div class="col-md-3 pull-left">
    <button type="submit" class="btn btn-primary" id="newaccount">Create New Account</button>
  </div>

<div class="">
  <h2>⋆｡ﾟ☁︎｡⋆｡ ﾟ☾ ﾟ｡⋆ 𝘾𝙧𝙚𝙖𝙩𝙚 𝙐𝙨𝙚𝙧 𝘼𝙘𝙘𝙤𝙪𝙣𝙩⋆｡ﾟ☁︎｡⋆｡ ﾟ☾ ﾟ｡⋆ </h2>
</div>

  <div class="container col-md-4" id="panel2">
<form role="form">
  <div class="checkbox-container">
    <input type="checkbox" id="custom-checkbox">
    <label for="custom-checkbox">Active?</label>
</div>

  <div class="form-group col-md-12">

  </div>

  <div class="form-group col-md-6">
    <label for="username">User Name</label>
    <input type="text" class="form-control" name="username" placeholder="username" required>
  </div>
  <div class="form-group col-md-6">
    <label for="password">Password</label>
    <input type="text" class="form-control" name="password" placeholder="password" required>
  </div>

  <div class="form-group col-md-4">
    <label for="fn">First Name</label>
    <input type="text" class="form-control" name="fn" placeholder="John" required>
  </div>
  <div class="form-group col-md-8">
    <label for="ln">Last Name</label>
    <input type="text" class="form-control" name="ln" placeholder="Doe" required>
  </div>

  <div class="form-group col-md-6">
    <label for="email">Email address</label>
    <input type="text" class="form-control" name="email" placeholder="email@address.com">
  </div>
  <div class="form-group col-md-6">
    <label for="phone">Phone Number <span class="small">(optional)</span></label>
    <input type="tel" class="form-control" name="phone" placeholder="205-555-1234">
  </div>

  <div class="form-group col-md-8">
    <label for="access">Authorized to Access Order Status</label>
    <input type="text" class="form-control text-uppercase" name="cus_no" placeholder="ABCDEF, GHIJKL, *DC, *ALL">
  </div>


  <div class="col-md-12 text-right">
    <button type="submit" class="btn btn-primary">Create Account</button>
    <button type="submit" class="btn btn-default">Cancel</button>
    <button type="submit" class="btn btn-danger pull-right">Delete Account</button>
  </div>


</form>

<footer>
  &copy; Allyshoppe
</footer>

</div>
</body>