    <body>
        
        <main>
        <div class="product" >
            
            <h2>𝑨𝒍𝒍𝒚𝒔𝒉𝒐𝒑𝒑𝒆<p class="cursive-font">Be a trendsetter</p></h2>
            <p>Discover a haven of style and creativity at our shop, where fashion and DIY crafting unite.</p>
            <button class="buy-button">View Your Cart 🛒</button>
        </div>
        <div class="container">
            <!-- Your webpage content goes here -->
        </div>

        <div class="categories">
            <h2>𝑷𝒓𝒐𝒅𝒖𝒄𝒕 𝑪𝒂𝒕𝒆𝒈𝒐𝒓𝒊𝒆𝒔</h2>
            <ul>
                <li><a href="#">✿Dresses✿</a></li><li><a href="#">✿Tops✿</a></li><li><a href="#">✿DIY Flowers✿</a></li><li><a href="#">✿Footwear✿</a></li><li><a href="#">✿Bags✿</a></li>
            </ul>
        </div>

    <div class="category-page">
        <h1>✿Dresses✿ </h1>
        <!-- Add content related to Tops category here -->
    </div>


    </main>
   
    <table>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Image</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Black Flower Dress</td>
            <td>₱250.00</td>
            <td><img src="../../../assets/blackflower dress.jpg"></td>
            <td><p><b>Fabric:</b> Cotton and Mesh Sleeves</p><p><b>Color:</b> Black with flower prints</p><p><b>Size:</b> XS-Medium Frame</p><button class="buy-button">Buy Now</button> <button class="atc-button"> Add To Cart</button></td>
            
        </tr>
        <tr>
            <td>White Flower Dress</td>
            <td>₱250.00</td>
            <td><img src="../../../assets/whiteflower dress.jpg"></td>
            <td><p><b>Fabric:</b> Cotton and Mesh Sleeves</p><p><b>Color:</b> White with flower prints</p><p><b>Size:</b> XS-Medium Frame</p><button class="buy-button">Buy Now</button> <button class="atc-button"> Add To Cart</button></td>
        </tr>
        <tr>
            <td>Brown Flower Dress</td>
            <td>₱250.00</td>
            <td><img src="../../../assets/brownflower dress.jpg"></td>
            <td><p><b>Fabric:</b> Cotton and Mesh Sleeves</p><p><b>Color:</b> Brown with flower prints</p><p><b>Size:</b> XS-Medium Frame</p><button class="buy-button">Buy Now</button> <button class="atc-button"> Add To Cart</button></td>
        </tr>
        <tr>
            <td>Purple Flower Dress</td>
            <td>₱250.00</td>
            <td><img src="../../../assets/purpleflower dress.jpg"></td>
            <td><p><b>Fabric:</b> Cotton and Mesh Sleeves</p><p><b>Color:</b> Purple with flower prints</p><p><b>Size:</b> XS-Medium Frame</p><button class="buy-button">Buy Now</button> <button class="atc-button"> Add To Cart</button></td>
        </tr>
        <tr>
            <td>White Cross Coords</td>
            <td>₱240.00</td>
            <td><img src="../../../assets/white cross dress.jpg"></td>
            <td><p><b>Fabric:</b> Cotton and Mesh Sleeves</p><p><b>Color:</b> White plain self tie coords</p><p><b>Size:</b> XS-Medium Frame</p><button class="buy-button">Buy Now</button> <button class="atc-button"> Add To Cart</button></td>
        </tr>
        <tr>
            <td>Nude Cross Coords</td>
            <td>₱240.00</td>
            <td><img src="../../../assets/nude cross dress.jpg"></td>
            <td><p><b>Fabric:</b> Cotton and Mesh Sleeves</p><p><b>Color:</b> Nude plain self tie coords</p><p><b>Size:</b> XS-Medium Frame</p><button class="buy-button">Buy Now</button> <button class="atc-button"> Add To Cart</button></td>
        </tr>
        <tr>
            <td>Maroon Cross Coords</td>
            <td>₱240.00</td>
            <td><img src="../../../assets/maroon cross dress.jpg"></td>
            <td><p><b>Fabric:</b> Cotton and Mesh Sleeves</p><p><b>Color:</b> Maroon plain self tie coords</p><p><b>Size:</b> XS-Medium Frame</p><button class="buy-button">Buy Now</button> <button class="atc-button"> Add To Cart</button></td>
        </tr>
        <tr>
            <td>Brown Cutout Dress</td>
            <td>₱240.00</td>
            <td><img src="../../../assets/brown dress.jpg"></td>
            <td><p><b>Fabric:</b> Neoprene</p><p><b>Color:</b> Brown cutout selftie Dress</p><p><b>Size:</b> XS-Medium Frame</p><button class="buy-button">Buy Now</button> <button class="atc-button"> Add To Cart</button></td>
        </tr>
        <tr>
            <td>Black Cutout Dress</td>
            <td>₱240.00</td>
            <td><img src="../../../assets/cutout black.jpg"></td>
            <td><p><b>Fabric:</b> Neoprene</p><p><b>Color:</b> Black cutout selftie Dress</p><p><b>Size:</b> XS-Medium Frame</p><button class="buy-button">Buy Now</button> <button class="atc-button"> Add To Cart</button></td>
        </tr>
        <tr>
            <td>Blue Y2K Dress</td>
            <td>₱220.00</td>
            <td><img src="../../../assets/y2k blue.jpg"></td>
            <td><p><b>Fabric:</b> Knitted and Mesh</p><p><b>Color:</b> Blue Y2K Dress with arm sleeves</p><p><b>Size:</b> XS-Medium Frame</p><button class="buy-button">Buy Now</button> <button class="atc-button"> Add To Cart</button></td>
        </tr>
        <tr>
            <td>Blue Y2K Dress</td>
            <td>₱220.00</td>
            <td><img src="../../../assets/y2k pink.jpg"></td>
            <td><p><b>Fabric:</b> Knitted and Mesh</p><p><b>Color:</b> Pink Y2K Dress with armsleeves</p><p><b>Size:</b> XS-Medium Frame</p><button class="buy-button">Buy Now</button> <button class="atc-button"> Add To Cart</button></td>
        </tr>
    </table>

    <footer>
        &copy; Allyshoppe
    </footer>
</body>